@font-face {
  font-family: "GruntGroteskBold";
  src: url("webFonts/GruntGroteskBold/font.woff2") format("woff2"),
    url("webFonts/GruntGroteskBold/font.woff") format("woff");
}
@font-face {
  font-family: "GruntGroteskLight";
  src: url("webFonts/GruntGroteskLight/font.woff2") format("woff2"),
    url("webFonts/GruntGroteskLight/font.woff") format("woff");
}

.logo,
.footer-fon-link {
  text-transform: uppercase;
}

.logo,
.studio,
.link,
.footer-fon-link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  font-family: "e-Ukraine", serif;
  background-color: #f4d598;
  color: #df510a9e;
}

@media (max-width: 500px) {
  body {
    cursor: context-menu;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*menu*/
.header-container {
  display: flex;
  width: 1280px;
  align-items: center;
  padding-top: 32px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.page-navigation {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  width: 265px;
  height: 99px;
}

.address-item {
  line-height: 19.19px;
  letter-spacing: 0%;
  color: #6e0012;
  margin-left: 350px;
}

.address-link-button {
  display: inline-block;
  cursor: pointer;
  font-family: "e-Ukraine";
  font-weight: 100;
  font-size: 16px;
  color: #6e0012;
  top: 28px;
  left: 788px;
  border-radius: 40px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #6e0012;
  background-color: transparent;
}

.address-link-button:hover,
.address-link-button:focus {
  background-color: #7b2e3b;
}

/*section-one*/
.section-one-fon {
  text-align: center;
  padding: 104px 0;
}

.section-one-title {
  font-family: "Grunt Grotesk", serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 81.92px;
  text-align: left;
  color: #910c0c;
  width: 730px;
  height: 164px;
  top: 235px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
}

.section-one-p {
  font-family: "e-Ukraine", serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 33.6px;
  text-align: left;
  color: #910c0c;
  width: 665px;
  padding: 15px;
  top: 431px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
}

.input {
  font-family: inherit;
}
.form-section {
  border-color: #6e0012;
}

.form-button {
  display: flex;
  cursor: pointer;
  width: 360px;
  align-items: center;
  border-radius: 40px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #6e0012;
  color: #f4d598;
}

.form-input {
  display: flex;
  width: 360px;
  height: 44px;
  margin: 20px;
  border-radius: 40px;
  padding-top: 10px;
  padding-right: 260px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid #6e0012;
  background-color: transparent;
}

.form-input-comment {
  display: flex;
  width: 360px;
  height: 134px;
  margin: 20px;
  border-radius: 40px;
  padding-top: 10px;
  padding-right: 260px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid #6e0012;
  background-color: transparent;
}

.up-orange {
  display: inline-flex;
  width: 740px;
  height: 356px;
}
/*footer*/
